@import "fontes/indira/indira-stylesheet.css";
@import "fontes/junicode/stylesheet.css";

  @font-face {
    font-family: 'miniver';
    src: url('fontes/miniver/Miniver.ttf');
  }

	  @font-face {
	    font-family: 'junicode';
	    src: url('fontes/junicode/junicode-regular-webfont.ttf');
	  }


body{
	display:flex;
	width: 100%;
	header{
		position: fixed;
		z-index: 10;
		color: blue;
		font-family: 'miniver';
		text-transform: uppercase;
		transform: rotate(-90deg);
		transform-origin: 0 0;
		background: white;
		padding: 5px;
	}
	section{
		font-family: 'junicodeboldcondensed';
		font-size: 1.25em;
		line-height: 1.15;
		border-right: 2px solid black;
		padding: 2%;
		color:black;
		overflow-y: scroll;
	}
	#filters{
		font-weight: bold;
		background: green;
    color: white;
		width: 1000px;
		flex: 1;
		letter-spacing: 1px;
		ul{
			margin-top: 20px;
      h1{
        font-family: 'miniver';
        text-transform: uppercase;
      }
			li:hover{
				cursor: pointer;
			}
			li:not(:first-child):before{
				content: '▱ ';
			}
			li:not(:first-child):hover:before{
				content: '▰ ';
			}
			li.clicked:before{
				content: '▰ ';
			}
			li span{
				display: inline-block;

			}
		}
	}
	#list{
		color:blue;
		width: 1000px;
		flex: 2;
		text-align: center;
		ul{
			li.letter{
				color: black;
				margin-top: 20px;
				font-size: 1.75em;
			}
			ul{
				li{
					margin-top: 10px;
          font-family: 'junicodebold';
					cursor: pointer;
				}
				li:hover{
					text-decoration: underline;
					font-family: 'miniver';
					text-transform: uppercase;
					color: green;
				}
				li:visited{
					color: green;
				}
			}
		}
	}
	#content{
		flex: 3;
		width: 1000px;
		ul{
			margin-top: 20px;
		}
		li{
			padding-top: 20px;
			margin-bottom: 2%;
			.favicon{
				max-height: 20px;
				margin-right: 10px;
				vertical-align: middle;
			}
			.title{
				// font-weight: bold;
				// background: palegreen;
				font-family: 'miniver';
				text-transform: uppercase;
				color: green;
			}
			sup, a{
				margin-right: 10px;
			}
			sup{
        font-family: monospace;
        border: 1px dashed green;
        border-top: none;
        border-radius: 20px;
			}
			a{
				font-family: 'miniver';
			}
			.description{
				letter-spacing: 1px;
			}
			a:hover span{
				transform: skewY(0deg) !important;
			}
			.theUrl{
			}
		}
		li:hover .title{
			font-weight: normal;
      font-family: 'junicodebold';
			text-transform: initial;
		}
	}
}
